<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member-Mapper">
	<select id="selectMemberById" resultType="member">
		select * from member where mem_id=#{mem_id}
	</select>
	
	<update id="insertMember">
		insert into member values(#{mem_id}, #{mem_pwd}, #{mem_name})
	</update>
	
	<update id="deleteMember">
		delete from member where mem_id = #{mem_id}
	</update>
	
	<update id="updateMember">
		update member set mem_pwd =#{mem_pwd}, mem_name=#{mem_name} where mem_id = #{mem_id}
	</update>

</mapper>